%h1 Listing product_items

%table
  %thead
    %tr
      %th Name
      %th Price
      %th
      %th
      %th
      
  %tbody
    - @product_items.each do |product_item|
      %tr
        %td= product_item.name
        %td= product_item.price
        %td= link_to 'Show', product_item
        %td= link_to 'Edit', edit_product_item_path(product_item)
        %td= link_to 'Destroy', product_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product item', new_product_item_path
