!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title FreeDonate
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}/
  %body#page-top.index
    / Navigation
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        / Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#page-top"} Start Bootstrap
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li.hidden
              %a{:href => "#page-top"}
            %li.page-scroll
              %a{:href => "#portfolio"} Portfolio
            %li.page-scroll
              %a{:href => "#about"} About
            %li.page-scroll
              %a{:href => "#contact"} Contact
    %header
      .container
        .row
          .col-lg-12
            %img.img-responsive{:alt => "", :src => "#{ asset_path( 'profile.png' ) }"}/
            .intro-text
              %span.name Start Bootstrap
              %hr.star-light/
              %span.skills Web Developer - Graphic Artist - User Experience Designer
    / Portfolio Grid Section
    %section#portfolio
      .container
        .row
          .col-lg-12.text-center
            %h2 Portfolio
            %hr.star-primary/
        .row
          .col-sm-4.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal1"}
              .caption
                .caption-content
                  %i.fa.fa-search-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "#{asset_path('portfolio/cabin.png')}"}/
          .col-sm-4.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal2"}
              .caption
                .caption-content
                  %i.fa.fa-search-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "#{asset_path('portfolio/cake.png')}"}/
          .col-sm-4.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal3"}
              .caption
                .caption-content
                  %i.fa.fa-search-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "#{asset_path('portfolio/circus.png')}"}/
          .col-sm-4.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal4"}
              .caption
                .caption-content
                  %i.fa.fa-search-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "#{asset_path('portfolio/game.png')}"}/
          .col-sm-4.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal5"}
              .caption
                .caption-content
                  %i.fa.fa-search-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "#{asset_path('portfolio/safe.png')}"}/
          .col-sm-4.portfolio-item
            %a.portfolio-link{"data-toggle" => "modal", :href => "#portfolioModal6"}
              .caption
                .caption-content
                  %i.fa.fa-search-plus.fa-3x
              %img.img-responsive{:alt => "", :src => "#{asset_path('portfolio/submarine.png')}"}/
    / About Section
    %section#about.success
      .container
        .row
          .col-lg-12.text-center
            %h2 About
            %hr.star-light/
        .row
          .col-lg-4.col-lg-offset-2
            %p Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.
          .col-lg-4
            %p Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!
          .col-lg-8.col-lg-offset-2.text-center
            %a.btn.btn-lg.btn-outline{:href => "#"}
              %i.fa.fa-download
              Download Theme
    / Contact Section
    %section#contact
      .container
        .row
          .col-lg-12.text-center
            %h2 Contact Me
            %hr.star-primary/
        .row
          .col-lg-8.col-lg-offset-2
            / To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.
            / The form should work on most web servers, but if the form is not working you may need to configure your web server differently.
            %form#contactForm{:name => "sentMessage", :novalidate => ""}
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  %label Name
                  %input#name.form-control{"data-validation-required-message" => "Please enter your name.", :placeholder => "Name", :required => "", :type => "text"}/
                  %p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  %label Email Address
                  %input#email.form-control{"data-validation-required-message" => "Please enter your email address.", :placeholder => "Email Address", :required => "", :type => "email"}/
                  %p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  %label Phone Number
                  %input#phone.form-control{"data-validation-required-message" => "Please enter your phone number.", :placeholder => "Phone Number", :required => "", :type => "tel"}/
                  %p.help-block.text-danger
              .row.control-group
                .form-group.col-xs-12.floating-label-form-group.controls
                  %label Message
                  %textarea#message.form-control{"data-validation-required-message" => "Please enter a message.", :placeholder => "Message", :required => "", :rows => "5"}
                  %p.help-block.text-danger
              %br/
              #success
              .row
                .form-group.col-xs-12
                  %button.btn.btn-success.btn-lg{:type => "submit"} Send
    / Footer
    %footer.text-center
      .footer-above
        .container
          .row
            .footer-col.col-md-4
              %h3 Location
              %p
                3481 Melrose Place
                %br>/
                Beverly Hills, CA 90210
            .footer-col.col-md-4
              %h3 Around the Web
              %ul.list-inline
                %li
                  %a.btn-social.btn-outline{:href => "#"}
                    %i.fa.fa-fw.fa-facebook
                %li
                  %a.btn-social.btn-outline{:href => "#"}
                    %i.fa.fa-fw.fa-google-plus
                %li
                  %a.btn-social.btn-outline{:href => "#"}
                    %i.fa.fa-fw.fa-twitter
                %li
                  %a.btn-social.btn-outline{:href => "#"}
                    %i.fa.fa-fw.fa-linkedin
                %li
                  %a.btn-social.btn-outline{:href => "#"}
                    %i.fa.fa-fw.fa-dribbble
            .footer-col.col-md-4
              %h3 About Freelancer
              %p
                Freelance is a free to use, open source Bootstrap theme created by
                = succeed "." do
                  %a{:href => "http://startbootstrap.com"} Start Bootstrap
      .footer-below
        .container
          .row
            .col-lg-12
              Copyright © Your Website 2014
    / Scroll to Top Button (Only visible on small and extra-small screen sizes)
    .scroll-top.page-scroll.visible-xs.visble-sm
      %a.btn.btn-primary{:href => "#page-top"}
        %i.fa.fa-chevron-up
    / Portfolio Modals
    #portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                %h2 Project Title
                %hr.star-primary/
                %img.img-responsive.img-centered{:alt => "", :src => "#{asset_path('portfolio/cabin.png')}"}/
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Start Bootstrap
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
    #portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                %h2 Project Title
                %hr.star-primary/
                %img.img-responsive.img-centered{:alt => "", :src => "#{asset_path('portfolio/cake.png')}"}/
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Start Bootstrap
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
    #portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                %h2 Project Title
                %hr.star-primary/
                %img.img-responsive.img-centered{:alt => "", :src => "#{asset_path('portfolio/circus.png')}"}/
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Start Bootstrap
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
    #portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                %h2 Project Title
                %hr.star-primary/
                %img.img-responsive.img-centered{:alt => "", :src => "#{asset_path('portfolio/game.png')}"}/
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Start Bootstrap
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
    #portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                %h2 Project Title
                %hr.star-primary/
                %img.img-responsive.img-centered{:alt => "", :src => "#{asset_path('portfolio/safe.png')}"}/
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Start Bootstrap
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
    #portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
      .modal-content
        .close-modal{"data-dismiss" => "modal"}
          .lr
            .rl
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .modal-body
                %h2 Project Title
                %hr.star-primary/
                %img.img-responsive.img-centered{:alt => "", :src => "#{asset_path('portfolio/submarine.png')}"}/
                %p
                  Use this area of the page to describe your project. The icon above is part of a free icon set by
                  = succeed "." do
                    %a{:href => "https://sellfy.com/p/8Q9P/jV3VZ/"} Flat Icons
                %ul.list-inline.item-details
                  %li
                    Client:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Start Bootstrap
                  %li
                    Date:
                    %strong
                      %a{:href => "http://startbootstrap.com"} April 2014
                  %li
                    Service:
                    %strong
                      %a{:href => "http://startbootstrap.com"} Web Development
                %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
                  %i.fa.fa-times
                  Close
    / Plugin JavaScript
    %script{:src => "http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"}
    = javascript_include_tag 'classie'
    = javascript_include_tag 'cbpAnimatedHeader'
    = javascript_include_tag 'jqBootstrapValidation'
    = javascript_include_tag 'contact_me'
    = javascript_include_tag 'freelancer'